OASIS INFOBYTE DATA SCIENCE INTERNSHIP

SUBMITTED BY ARATHI P RAJ

BATCH - FEBRUARY PHASE 2 OIBSIP

TASK 4 - EMAIL SPAM DETECTION WITH MACHINE LEARNING

In [1]:
#Importing required libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn import svm
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix , recall_score , precision_score
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
#Loading the data

df = pd.read_csv("spam.csv",encoding = "ISO-8859-1")
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
#Droping unwanted columns

df1 = df.drop(["Unnamed: 2","Unnamed: 3","Unnamed: 4"], axis=1)

In [5]:
df1.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
#Renaming the column names as v1-Spam/Ham and v2 - Mail

df1.rename(columns = {"v1" : "Spam/Ham", "v2":"Mail"},inplace = True)
df1.head()

  Spam/Ham                                               Mail
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
df1.shape

(5572, 2)

In [8]:
#Converting the categorical values into numerical value

encoder = LabelEncoder()
df1['Spam/Ham'] = encoder.fit_transform(df1['Spam/Ham'])

In [9]:
#Checking for duplicates

df1.duplicated().sum()

403

In [10]:
#Droping duplicates from the dataset

df1 = df1.drop_duplicates(keep = 'first')

In [11]:
df1.duplicated().sum()

0

In [12]:
#Divide the data into attributes and labels

X =  df1["Mail"]
y =df1["Spam/Ham"]

In [13]:
#Splitting the data into training and testing data

X_train, X_test, y_train,y_test = train_test_split(X,y,test_size = 0.20, random_state = 0)

In [14]:
X_train.shape

(4135,)

In [15]:
X_test.shape

(1034,)

In [16]:
y_train.shape

(4135,)

In [17]:
y_test.shape

(1034,)

In [18]:
y_test.shape

(1034,)

In [19]:
# Convert the text data into a matrix of token counts

cv = CountVectorizer()
X_train_count = cv.fit_transform(X_train.values)
X_train_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [20]:
#Performing Multinomial Naive Bayes 

model = MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

In [21]:
#Testing  the mail (spam/ham)

mail_ham = ['Same. Wana plan a trip sometme then']
mail_ham_count = cv.transform(mail_ham)
y_pred = model.predict(mail_ham_count)
y_pred

array([0])

The array is 0, that is the mail is ham

In [22]:
#Evaluating the model

In [23]:
#Accuracy of train data


model.score(X_train_count,y_train)

0.9929866989117292

In [24]:
#Accuracy of test data

X_test_count = cv.transform(X_test)
model.score(X_test_count,y_test)

0.9816247582205029

In [25]:
#Performing Support Vector Machine(SVM)

model1 = svm.SVC(kernel = 'linear')
model1.fit(X_train_count,y_train)

SVC(kernel='linear')

In [26]:
#Accuracy of train data

model1.score(X_train_count,y_train)

0.999758162031439

In [27]:
#Accuracy of test data

X_test_count = cv.transform(X_test)
model1.score(X_test_count,y_test)

0.9845261121856866

### Thanks